MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=digital_money_house
MYSQL_USER=digitalmoney
MYSQL_PASSWORD=change-me
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_REALM=digital-money-house
KEYCLOAK_BACKEND_CLIENT_ID=dmh-backend
KEYCLOAK_BACKEND_CLIENT_SECRET=change-me
KEYCLOAK_BASE_URL=http://keycloak:8081
KEYCLOAK_FRONTEND_CLIENT_ID=dmh-frontend
